# Runner Config
RUNNER_NAME_PREFIX=my-runner
RUNNER_SCOPE=org

# Must have admin:org for org scope runners, at least for now, please see: https://github.com/github/roadmap/issues/503
ACCESS_TOKEN=ghp_XXXXXXXXXXXX

# Org Name
ORG_NAME=myorg

# It is recommended to set EPHEMERAL to true, because it is suited for auto scaling.
EPHEMERAL=true

# PLEASE DO NOT CHANGE THIS
# Because we're using Watchtower to update container image directly instead of updating runner from there.
DISABLE_AUTO_UPDATE=true
